{% extends 'base.html' %}

{% load filtros %} {% comment "Carrega o arquivo filtros" %}{% endcomment %}

{% block 'titulo' %}Ver Livro{% endblock %}

{% block 'conteudo' %}

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Deseja realmente excluir?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <a class="btn btn-danger" href="{% url 'excluir_livro' slug_livro %}">Excluir</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>

        <form ation="{% url 'alterar_livro' %}" method="POST">{% csrf_token %}
            <input type="hidden" value="{{ slug_livro }}" name="slug_livro" />
            <p>
                <label>Nome do livro</label>
                <input class="form-control" type="text" value="{{ livro.nome }}" name="nome_livro" />
            </p>

            <p>
                <label>Autor</label>
                <input style="width: 40%;" class="form-control" type="text" value="{{ livro.autor }}" name="autor" />
            </p>

            <p>
                <label>Co-autor</label>
                <input style="width: 40%;" class="form-control" type="text" value="{{ livro.co_autor }}" name="co_autor" />
            </p>

            <label>Categoria</label>
            <select style="width: 20%;" class="form-select" name="categoria_id">
                {% for categoria in categoria_livro %}
                    {% if livro.categoria == categoria %}
                        <option value="{{ categoria.id }}" selected>{{ categoria }}</option>
                    {% else %}
                        <option value="{{ categoria.id }}">{{ categoria }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            </br>

            <label style="display: inline;">Data de cadastro:</label>
            <p style="display: inline;">{{ livro.data_cadastro }}</p>

            <br>
            <br>

            <label>Emprestado:</label>
            {% if livro.emprestado %}
                <svg style="color: green; display: inline;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                </svg>

            {% else %}
                <svg style="color: red; display: inline;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                </svg>
            {% endif %}

            <br>
            <br>
            <input type="submit" class="btn btn-success btn-lg" value="Salvar" />
        </form>

        <br>

        <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Excluir
        </button>

        <hr>

        <h2>Histórico de emprestimo</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data emprestimo</th>
                <th scope="col">Data devolução</th>
                <th scope="col">Tempo duração</th>
                <th scope="col">Avaliação</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        {% if emprestimo.nome_emprestado_anonimo == "" %}
                            <th scope="row">{{ emprestimo.nome_emprestado }}</th>
                        {% else %}
                            <th scope="row">{{ emprestimo.nome_emprestado_anonimo }}</th>
                        {% endif %}
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>{{ emprestimo.data_devolucao }}</td>
                        <td>{{ emprestimo.data_devolucao|mostra_duracao:emprestimo.data_emprestimo }}</td>
                        <td>
                            {% if emprestimo.avaliacao == None %}
                                <button
                                    onclick="avaliacao({{ emprestimo.id }})"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal3"
                                >
                                    AVALIAÇÃO
                                </button>
                            {% else %}
                                {{ emprestimo.avaliacao }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel3">Avaliar empréstimo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'processa_avaliacao' %}" method="POST">{% csrf_token %}
                <input id="id_livro" type="hidden" value="{{ slug_livro }}" name="slug_livro" />
                <input id="id_emprestimo" type="hidden" name="id_emprestimo" />

                <select class="form-select" name="opcoes">
                    <option value="P">Péssimo</option>
                    <option value="R">Ruim</option>
                    <option value="B">Bom</option>
                    <option value="O">Ótimo</option>
                </select>
                <br>

                <input class="btn btn-info" type="submit" value="Avaliar" />
              </form>
            </div>
          </div>
        </div>
      </div>

      <script>

        function avaliacao(id_emprestimo) {
            input_emprestimo = document.getElementById('id_emprestimo')
            input_emprestimo.value = id_emprestimo
        }

      </script>

{% endblock %}